@model IEnumerable<OnlineTourism.Entity.PackageDetails>

@{
    ViewBag.Title = "Package";
}


@Html.ActionLink("Create New Package","Create")<br />

@if(TempData["Message"]!=null)
{
    @Html.Label((string)TempData["Message"])
}
<h2>Package</h2>
<table border="1">
    <tr>
        <td>Package Name</td>
        <td>Package Price</td>
        <td>Choice</td>
    </tr>
    @foreach (OnlineTourism.Entity.PackageDetails item in @Model)
    {
        <tr>
            <td>
                @item.PackageName
            </td>
            <td>
                @item.PackagePrice
            </td>
            <td>
                @Html.ActionLink("Edit","Edit",new { id=item.PackageId})
                @Html.ActionLink("Delete","Delete",new { id = item.PackageId })
            </td>
        </tr>
    }
</table>
